@media screen and (max-width:1200px) {
    hr {
        width: 90%;
        margin: 5% 0px;
    }

    header {
        height: 510px;
    }
   
    .header__navigation-menu-item {
        display: none;
    }

    .header__title {
        margin: 150px 0 auto 10%;
    }

    .header__title p {
        font-size: 48px;
    }

    .burgerMenu {
        top: -30px;
    }
    .burgerMenu span {
        width: 30px;
    }

    .catalog__content {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        margin-bottom: 100px;
    }

    .catalog__content-sort {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0;
        width: 80%;
        height: 700px;
        margin-left: 10%;
        padding: 20px;
        padding-bottom: 100px;

    }

    .catalog__content-sort .showButton {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .catalog__content-sort .clearFilter {
        position: absolute;
        bottom: 40px;
        left: 52%;
        transform: translate(-50%, 0);
    }

    .catalog__content-sort div {
        width: 40%;
        margin-left: 5%;
        padding: 0;
    }

    .catalog__content-tours {
        width: 80%;
        margin: 0 10%;
    }

    .catalog__content-tours-card {
        width: 100%;
        height: max-content;
    }

    .catalog__content-tours-card-info {
        width: 80%;
        margin: 20px 40px;
    }

    .catalog__content-tours-card-info div {
        display: flex;
    }

    .catalog__content-tours-card-info-container {
        margin: 20px 0;
    }

    .catalog__content-tours-card-info-costAdult,
    .catalog__content-tours-card-info-costKid,
    .catalog__content-tours-card-info-duration {
        display: flex;
        flex-direction: column;
        align-content: center;
        font-size: 12px;
    }

    .catalog__content-tours-card-info-duration p::before {
        margin-left: 20px;
    }

}

@media screen and (max-width:650px) {

    .showButton {
        margin: 10px 0px;
    }

    .plusButton{
        display: none;
    }
    
    hr {
        margin: 20px 0px;
    }
    
    header {
        width: 100%;
        height: 370px;
    }
    
    .header__navigation-logo {
        margin: 27px 0 0 10%;
    }
     
  

    .header__title {
        position: relative;
        margin: 0 10% 0 10%;
    }
    
    .header__title p {
        font-size: 28px;
        margin: 70px 0;
    }
    
    .catalog {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .catalog__filter {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        border-radius: 10px;
        width: 90%;
        height: 480px;
        box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
        margin: 40px 5%;
    }

    .catalog__filter-types {
        margin-bottom: 40px;
    }
    
    .catalog__filter-types-tours input {
        display: none;
    }
    
    .catalog__filter-types-tours label {
        font-size: 14px;
        line-height: 20px;
        margin: 5px;
    }
    
    .catalog__filter-form input {
        width: 300px;
        height: 50px;
        text-align: left;
        box-sizing: border-box;
    }
    
    .catalog__content {
        display: flex;
    }

    .catalog__content-sort {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height:120%;
        width: 90%;
        background-color: #fff;
        margin-left:5%;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
        border-radius: 10px;
    }

    .catalog__content-sort-title p {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-align: left;
        color: #0499DD;
        margin-bottom: 10px;
    }
    
    .catalog__content-sort div {
        width:100%;
    }
    .catalog__content-sort div div {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        margin: 20px 0 20px 0;
    }
    
    .catalog__content-sort-peopleNum-value label {
        display: inline-block;
        width: 70px;
        height: 30px;
        border-radius: 40px;
        border: solid 1px #ededed;
        font-size: 12px;
        line-height: 30px;
        margin-bottom: 7px;
    }
    
    .catalog__content-sort-peopleNum-value label:last-of-type {
        width: 150px;
    }
    
    .catalog-sort-title {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-align: left;
    }
    
    .catalog__content-sort-peopleNum-value input {
        display: none;
    }

    .catalog__content-sort .catalog__content-sort-place-value {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .catalog__content-sort .catalog__content-sort-place-value div {
        margin: 0;
        display: block;
        justify-content: end;
        width: max-content;
    }
    
    .catalog__content-sort .catalog__content-sort-place-value label {
        margin-left: 0px;
        font-size: 12px;
    }
    
    .catalog__content-sort .showButton {
        border-radius: 40px;
    }
    
    .clearFilter {
        font-size: 12px;
        line-height: 15px;
        color: #282828;
    }
    
    .catalog__content-sort {
        text-align: center;
        width:90%;
    }
    
    .catalog__content-tours {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    


    .catalog__content-tours-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: left;
        color: #0499DD;
        margin-bottom: 40px;
        margin-left: 5%;
    }
    
    .catalog__content-tours-card {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        width: 90%;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
  .catalog__content-tours-card-img{
    background: url(/img/tours_catalog.jpeg);
    background-repeat: no-repeat;
    background-position: bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 200px;
  
}

    .catalog__content-tours-card-info {
        width: 90%;
        margin: 20px auto;
    }
    
    .catalog__content-tours-card-info-container {
        margin: 20px 0;
    }
    
    .catalog__content-tours-card-info-costAdult,
    .catalog__content-tours-card-info-costKid,
    .catalog__content-tours-card-info-duration {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-right: 10px;

    }
    
    .catalog__content-tours-card-info-costAdult p:last-child,
    .catalog__content-tours-card-info-costKid p:last-child {
        font-size: 10px;
        line-height: 12px;
    }
    
    .catalog__content-tours-card-info-duration p::before {
        margin-left: 20px;
    }
    
    .catalog__content-tours-card-info-description {
        font-size: 12px;
        line-height: 15px;
        text-align: left;
        border-left: solid #0499DD 3px;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    
    .buttonMore {
        display: block;
        width: 240px;
        height: 100%;
        border-radius: 40px;
        background: rgb(5, 155, 220);
        background: linear-gradient(90deg, rgba(5, 155, 220, 1) 0%, rgba(22, 192, 189, 1) 100%);
        font-size: 12px;
        color: white;
        font-weight: 700;
        text-align: center;
        line-height: 40px;
    }
    
    .catalog__content-tours-card-info div:last-child {
        display: flex;
    }
    
    .favButton {
        display: inline-block;
        width: 40px;
        margin-left: 20px;
        background-color: #ededed;
        border-radius: 100%;
        text-align: center;
    }
    
    .favButton svg {
        margin-top: 8px;
    }
    
    .catalog__content-sort .showButton {
        position: relative;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .catalog__content-sort .clearFilter {
        position: relative;
        top: 5px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .footer___container {
        margin: 0px 5%;
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
    
    .footer__container-column:last-child {
        align-self: center;
    }

    .footer__container-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer___container a {
        font-size: 12px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        color: #282828;
    }

}

